<h3>Add Vehicle</h3>
<hr/>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <form [formGroup]="vehicleForm" (ngSubmit)="saveVehicle()" novalidate>
            <!--Makes-->
            <div class="form-group">
                <label for="ddlMake">Make</label>
                <select class="form-control" id="ddlMake" formControlName="make" (change)="onChangeMakeGetModel()">
                    <option *ngFor = "let make of _make" [value] = "make.id">{{ make.name }}</option>
                </select>
                <!--Error Handling: Start-->
                <span class="alert-danger" *ngIf="(vehicleForm.get('make').touched ||
                                                   vehicleForm.get('make').dirty) &&
                                                   vehicleForm.get('make').errors">
                    <span *ngIf = "vehicleForm.get('make').errors.required">
                        Please choose make of the vehicle.
                    </span>
                </span>
                <!--Error Handling: End-->
            </div>
            <!--Models-->
            <div class="form-group">
                <label for="ddlMake">Model</label>
                <select class="form-control" id="ddlMake" formControlName="modelId">
                    <option *ngFor = "let model of _model" [value] = "model.id">{{ model.name }}</option>
                </select>
                <!--Error Handling: Start-->
                <span class="alert-danger" *ngIf="(vehicleForm.get('modelId').touched ||
                                                   vehicleForm.get('modelId').dirty) &&
                                                   vehicleForm.get('modelId').errors">
                    <span *ngIf = "vehicleForm.get('modelId').errors.required">
                        Please choose model of the vehicle.
                    </span>
                </span>
                <!--Error Handling: End-->
            </div>
            <!--Registration-->
            <div class="form-group">
                <label>Is this vehicle registered?</label>
                <div class="">
                    <label class="custom-control custom-radio">
                        <input id="isRegistered" [value] = "true" type="radio" formControlName = "isRegistered">
                        Yes
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="isNotRegistered" [value] = "false" type="radio" formControlName = "isRegistered">
                        No
                    </label>
                </div>
                <!--Error Handling: Start-->
                <span class="alert-danger" *ngIf="(vehicleForm.get('isRegistered').touched ||
                                                   vehicleForm.get('isRegistered').dirty) &&
                                                   vehicleForm.get('isRegistered').errors">
                    <span *ngIf = "vehicleForm.get('isRegistered').errors.required">
                        Please choose if vehicle is registered.
                    </span>
                </span>
                <!--Error Handling: End-->
            </div>
            <!--Features-->
            <div class="form-group">
                <label>Features</label>
                <div class="form-check" *ngFor="let feature of _feature">
                    <label class="form-check-label">
                        <input type="checkbox" [value] = "feature.id" class="form-check-input" 
                        (change) = "onCheckboxChange($event.target.value)" 
                        [checked] = "featuresArray.includes(feature.id)">
                        {{ feature.name + " id: " + feature.id }}
                    </label>
                </div>
                <!--Error Handling: Start-->
                <span class="alert-danger" *ngIf="(vehicleForm.get('features').touched ||
                                                   vehicleForm.get('features').dirty) &&
                                                   vehicleForm.get('features').errors">
                    <span *ngIf = "vehicleForm.get('features').errors.required">
                        Please choose at least one feature.
                    </span>
                </span>
                <!--Error Handling: End-->
            </div>
            <div formGroupName="contact">
                <!--Contact Name-->
                <div class="form-group">
                    <label for="Name">Contact Name</label>
                    <input type="text" formControlName="name" class="form-control" id="Name" placeholder="Enter contact name">
                    <!--Error Handling: Start-->
                    <span class="alert-danger" *ngIf="(vehicleForm.get('contact').get('name').touched ||
                                                   vehicleForm.get('contact').get('name').dirty) &&
                                                   vehicleForm.get('contact').get('name').errors">
                    <span *ngIf = "vehicleForm.get('contact').get('name').errors.required">
                        Please enter your full name.
                    </span>
                    </span>
                    <!--Error Handling: End-->
                </div>
                <!--Contact phone-->
                <div class="form-group">
                    <label for="Phone">Contact Phone</label>
                    <input type="phone" formControlName="phone" class="form-control" id="Phone" placeholder="Enter contact phone">
                    <!--Error Handling: Start-->
                    <span class="alert-danger" *ngIf="(vehicleForm.get('contact').get('phone').touched ||
                                                   vehicleForm.get('contact').get('phone').dirty) &&
                                                   vehicleForm.get('contact').get('phone').errors">
                    <span *ngIf = "vehicleForm.get('contact').get('phone').errors.required">
                        Please enter your phone number.
                    </span>
                    <span *ngIf="vehicleForm.get('contact').get('phone').errors.pattern">
                        Please enter valid phone number.
                    </span>
                    </span>
                    <!--Error Handling: End-->
                </div>
                <!--Contact Email-->
                <div class="form-group">
                    <label for="Email">Contact Email</label>
                    <input type="email" formControlName="email" class="form-control" id="Email" placeholder="Enter contact email">
                    <!--Error Handling: Start-->
                    <span class="alert-danger" *ngIf="(vehicleForm.get('contact').get('email').touched ||
                                                   vehicleForm.get('contact').get('email').dirty) &&
                                                   vehicleForm.get('contact').get('email').errors">
                    <span *ngIf = "vehicleForm.get('contact').get('email').errors.required">
                        Please enter your email address.
                    </span>
                    <span *ngIf="vehicleForm.get('contact').get('email').errors.pattern">
                        Please enter valid email address.
                    </span>
                    <!--TODO: Email validator-->
                    </span>
                    <!--Error Handling: End-->
                </div>
            </div>
            <button type="submit" [disabled]="!vehicleForm.valid" class="btn btn-primary">Submit</button>
            <button *ngIf = "_vehicle.id" class="btn btn-danger" type="button" (click) = "deleteVehicle()">Delete</button>
        </form>
    </div>
    <div class="col-sm-6 col-xs-12">
        <pre>
            {{ vehicleForm.value | json }} {{ vehicleForm.valid | json }}
        </pre>
        <p>{{ vehicleForm.get('features').value.includes(1) }}</p>
    </div>
</div>