<form #f = "ngForm" noValidate>
            <div class="form-group">
                <label for="exampleSelect1">Make</label>
                <select name="make" (ngModel) = "selectedMake.id" class="form-control" 
                id="ddlMake" (change) = "OnChangeMakeGetModel($event.target.value)">
                    <option value="0">-- Select Make --</option>
                    <option *ngFor = "let make of _make" value = "{{make.id}}">{{make.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelect1">Model</label>
                <select name="model" (ngModel) = "model.id" class="form-control" id="ddlModel">
                    <option value="0">-- Select Model --</option>
                    <option *ngFor = "let model of _model" value = "{{model.id}}">{{model.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Is this vehicle registered?</label>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="isRegistered" value = "true" name="radio-stacked" type="radio" class="custom-control-input">
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="isNotRegistered" value = "false" name="radio-stacked" type="radio" class="custom-control-input">
                        <span class="custom-control-description">No</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Features</label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Check me out
                    </label>
                </div>

            </div>
            <div class="form-group">
                <label for="ContactName">Contact Name</label>
                <input type="email" class="form-control" id="ContactName" aria-describedby="" placeholder="Enter contact name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="ContactPhone">Contact Phone</label>
                <input type="phone" class="form-control" id="ContactPhone" aria-describedby="phoneHelp" placeholder="Enter contact phone">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="ContactEmail">Contact Email</label>
                <input type="email" class="form-control" id="ContactEmail" aria-describedby="emailHelp" placeholder="Enter contact email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            
            <button type="submit" (click) = "saveVehicle(f.valid, f.value)" class="btn btn-primary">Submit</button>
        </form>